

<div class="cell medium-3 small-12">
    <div class="card" style="width: 300px;">
        <div class="card-divider">
            {{result.title}}
        </div>
        <img src="assets/img/generic/rectangle-1.jpg">
        <div class="card-section">
            <h4>{{result.link}}</h4>
            <p>{{result.summarye}}</p>
        </div>
    </div>
</div>